.appWrapper {
    display: grid;
    /*grid-template-columns: 1fr;*/
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    padding: 2% 10%;


    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    grid-template-areas: "header header"
    "randomPlanet randomPlanet"
    "toggleButton toggleButton"
    "itemList personDetails";
}

.toggleBtn {
    grid-area: toggleButton;
}

@media screen and (max-width: 1050px) {
    .appWrapper {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        grid-template-areas: "header"
        "randomPlanet"
        "toggleButton"
        "itemList"
        "personDetails";
    }

}